FRONTEND_IMAGE={{ frontend_image }}
BACKEND_IMAGE={{ backend_image }}
POSTGRES_DB={{ postgres_db }}
POSTGRES_USER={{ postgres_user }}
POSTGRES_PASSWORD={{ postgres_password }}
DATABASE_URL=postgresql://{{ postgres_user }}:{{ postgres_password }}@postgres:5432/{{ postgres_db }}
REDIS_URL=redis://redis:6379
